<div class="row">
  <div class="col">
    <h1 class="display-2">Bars</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">ZipCode</th>
          <th scope="col">City</th>
          <th scope="col">Street</th>
          <th scope="col">House Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bar of bars" (click)="onSelectBar(bar)" [class.table-info]="bar === selectedBar">
          <th scope="row">{{ bar.id }}</th>
          <td>
            <a [routerLink]="['/bars', bar.id]">
              {{ bar.name }}
            </a>
          </td>

          <td>{{ bar.zipCode }}</td>
          <td>{{ bar.city }}</td>
          <td>{{ bar.street }}</td>
          <td>{{ bar.houseNumber }}</td>
          <td>
            <button mat-raised-button color="primary" (click)="onDeleteClick(bar.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button mat-raised-button color="primary" (click)="onNewClick()">New bar</button>
<div class="col" *ngIf="selectedBar">
    <bar-form [bar]="selectedBar" (onSubmit)="onFormSubmit($event)"></bar-form>
</div>